*.iml
.idea
src/image_classification/.ipynb_checkpoints
src/image_classification/output_files
src/image_classification_tf_1.8.0/fruit_models
src/image_classification_tf_1.8.0/data
Dataset/*
!Dataset/Backgrounds/
Dataset/Backgrounds/*
!Dataset/Backgrounds/default_bkg.png
src/segmentation/models
src/object_detection/trained
src/object_detection/labels.txt
src/object_detection/detection_config.py
src/object_detection/frcnn/frcnn_config.py
src/object_detection/ssd/ssd*_config.py
Test
Training
test-multiple_fruits
*__pycache__